@import '~site-cl/sass/modules/colors';

div.cl-grades {
  td.role {
    white-space: nowrap;
  }
}

div.cl-grader {

  a.link-button {
    display: inline-block;
    font-size: 0.85em;
    padding: 0 2px;
  }

  p.cl-title {
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    margin: 1em 0 0 0;
  }

  p.cl-dispute {
    text-align: center;
    margin: 0;
  }

  p.cl-role {
    text-align: center;
  }

  p.cl-role-staff {
    color: $comp;
  }

  p.cl-due {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    color: $comp;
  }

  button.cl-grader-button {
    font-style: italic;
    font-size: 0.9em;
    color: black;
  }

  a.cl-extra-link {
    display: block;
    float: right;
    font-size: 0.5em;
    padding-top: 1em;
  }

  tr.cl-category {
    td {
      text-align: right;
    }

    td:first-child {
      text-align: left;
    }
  }

  tr.cl-assignment {
    td {
      text-align: right;
    }

    td:first-child {
      text-align: left;
      padding-left: 3em;
    }
  }

  div.grader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    label, div.label {
      font-style: italic;
    }

    div.comment {
      flex: 1 1 auto;
      padding: 0 20px 0 0;

      textarea {
        display: block;
        width: 100%;
      }

      div.comment {
        @extend %shadow;
        white-space: pre;
        background: #f0f0f0;
        font-style: normal;
        border: 1px solid #a9a9a9;
        height: 120px;
        overflow: auto;
        padding: 2px;
      }
    }

    div.points {
      flex: 0 1 auto;
      width: 5em;
      text-align: center;
      padding: 45px 5px 0 0;

      input, div.value {
        display: block;
        width: 100%;
        text-align: center;
        font-style: normal;
        font-weight: bold;
      }

      span.not {
        font-size: 0.8em;
        font-style: italic;
      }
    }

    div.value {
      padding: 2px 1px;
    }

    a.available-clicker {
      text-decoration: none;
      color: black;

    }

  }

  table.cl-handbook {
    width: 90%;

    td:last-child, th:last-child {
      width: 1px;
      white-space: nowrap;
    }

    input[type=radio] {
      display: inline-block;
      padding: 0 2px;
      margin: 0 2px;
    }

    input[type=text] {
      width: 100%;
    }

    textarea {
      width: 100%;
    }

    td.cl-deduct {
      text-align: center;
      font-size: 1.5em;
    }

    div.comment {
      @extend %shadow;
      white-space: pre;
      background: #f0f0f0;
      font-style: normal;
      border: 1px solid #a9a9a9;
      height: 80px;
      overflow: auto;
      padding: 2px;
      margin: 0.3em 0;
    }
  }

  p.cl-rubric-expand {
    margin-bottom: 0.1em;
  }

  div.cl-rubricblock {
    background: $very-light-primary;
    padding: 5px;
    border: 1px #808080 solid;
    word-wrap: normal;
    font-size: 0.9em;

    p:first-child, ul:first-child {
      margin-top: 0;
    }

    p:last-child, ul:last-child {
      margin-bottom: 0;
    }

    li.item, p.item, ul.items li {
      color: $very-light-primary-link;
      cursor: pointer;
    }

    li.item:hover, p.item:hover, ul.items li:hover {
      color: $very-light-primary-hover;
    }
  }

  textarea {
    background: #f0f0f0;
    font-style: normal;
  }

  textarea.yellow-pad {
    background: url('../../../site/img/yellowpad.png');
  }

  div.grade {
    border-top: 1px solid black;

    p:first-child {
      text-align: center;
      font-size: 1.2em;
    }
  }

  div.cl-rubric {


    div.cl-show {
      @extend %shadow;
      margin: 1em 0;
      word-wrap: normal;
      min-height: 8em;
    }

    textarea {
      font-size: 0.9em;
      margin: 1em 0;
      background: #f0f0f0;
      font-style: normal;
      width: 100%;
      min-height: 8em;
    }
  }
}
